#Ignore these dirs:
.venv/
.pytest_cache/
dist/
gendiff/**/__pycache__/
tests/**/__pycache__/
hexlet_test/


#Ignore these files:
file1.json
file2.json
FILE3.yaml
FILE4.yml
result.txt
result.json
tests/conftest.py
.coverage
coverage.xml
test_hexlet.py


#Excludes
!tests/**/*.json
